// 
// user.scss
// Use this to write your custom SCSS
//

button.fe-trash-2,
button.fe-play,
button.fe-cloud-rain
{
border: 0px;
}

input.iconCheckBox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}