.progress-bar-vertical {
  width: 10px;
  min-height: 28px;
  display: flex;
  align-items: flex-end;
  margin: 0 auto;
  border: 1px solid #95A9C9;
  background-color: #fff;
  border-radius: 0px;
}

.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
  border-radius: 0px;
    background-color: #2c7be5;
}

.pretty-button {
    background-color:transparent;
    border: 0px;
}

.centered {
    margin: 0 auto;
}

img#drive-mpeg-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#video-loader {
  border: 1em solid #f3f3f3;
  border-radius: 50%;
  border-top: 1em solid #2C7BE5;
  width: 8em;
  height: 8em;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin-left: auto;
  margin-right: auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Begin slider styling */

/*------------------------------------------------------------------
  [Slider]
*/
/*Slider*/
.slider.slider-vertical {
  margin-right: 13px;
}

.slider.slider-vertical .slider-handle {
  margin-left: -1px;
}

.slider.slider-horizontal {
  height: 24px;
  max-width: 100%;
}

.slider.slider-horizontal .slider-track {
  height: 8px;
}

.slider-selection {
  background: #4285f4;
  border: 1px solid #4285f4;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.slider-track {
  background: #f2f2f2;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.slider-handle {
  opacity: 1;
  background: #FFFFFF;
  border: 1px solid #f0f0f0;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.12);
  height: 22px;
  width: 22px;
  -webkit-transition: -webkit-box-shadow 200ms ease-in-out;
  transition: -webkit-box-shadow 200ms ease-in-out;
  transition: box-shadow 200ms ease-in-out;
  transition: box-shadow 200ms ease-in-out, -webkit-box-shadow 200ms ease-in-out;
}

/*------------------------------------------------------------------
End slider CSS
*/

.slider.slider-horizontal {
  width: 100%;
}

.pull-right {
  float: right !important;
}

.medium-toggle {
  transform: scale(.8);
}

.col-no-padding {
  padding: 0rem !important;
}

/*------------------------------------------------------------------
  [timeline widget]
*/

.timeline {
  padding: 0;
  margin: 5px 0 15px;
  list-style: none;
  position: relative;
}

.timeline:before {
  content: "";
  position: absolute;
  left: 5px;
  top: 2px;
  height: 100%;
  width: 2px;
  background-color: #2c7be5;
}

.timeline:after {
  content: "";
  position: absolute;
  left: 2px;
  bottom: -2px;
  height: 8px;
  width: 8px;
  background-color: #2c7be5;
  border-radius: 50%;
}

.timeline > li {
  display: block;
  position: relative;
  padding-left: 30px;
  padding-bottom: 27px;
}

.timeline > li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  height: 12px;
  width: 12px;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: 1px solid #2c7be5;
}

.timeline > li.latest:before {
  background-color: #2c7be5;
}

.timeline-date {
  opacity: 0.5;
  font-size: 0.85rem;
  text-transform: uppercase;
  color: #6e84a3
  margin-bottom: 8px;
}

.timeline-title {
  font-weight: 500;
}

.timeline-compact .timeline-date {
  float: right;
  text-transform: capitalize;
  margin-bottom: 0;
  line-height: 22px;
}

.timeline-compact .timeline-title {
  font-size: 0.85rem;
  font-weight: 300;
}

.timeline .timeline-description {
  font-size: 0.85rem;
  color: #2c7be5;
  margin-top: 4px;
}

.timeline-compact:before {
  background-color: #f6c163;
}

.timeline-compact:after {
  background-color: #f6c163;
}

.timeline-compact > li {
  padding-bottom: 35px;
}

.timeline-compact > li:last-child {
  padding-bottom: 25px;
}

.timeline-compact > li:before {
  border: 1px solid #f6c163;
}

.timeline-compact > li.latest:before {
  background-color: #f6c163;
}