<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ryan Zotti </title>

  <script
    src="/static/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>

  <script
    src="/static/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
    crossorigin="anonymous"></script>

  <link href="/static/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <script src="/static/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script type="text/javascript" src="/static/editor.js"></script>
  <link href="/static/style.css" rel="stylesheet">

</head>


<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Ryan Zotti</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">   </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <div class="container">



    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
        </div>
        <div class="form-inline">
          <div class="form-group">
            <label class="group-label">
              Control Mode
              <a data-toggle="modal" class="btn btn-primary btn-xs" data-target="#aboutControlModes">
                <span class="glyphicon glyphicon-info-sign"></span>
              </a>
            </label>
            <br/>

            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-primary" id="joystick-toggle">
                <input type="radio" name="controlMode" id="joystick" autocomplete="off" value="joystick"> Joystick
              </label>
              <label class="btn btn-primary" id="gamepad-toggle">
                <input type="radio" name="controlMode" id="gamepad" autocomplete="off" value="gamepad"> Gamepad
              </label>
              <label class="btn btn-primary" id="tilt-toggle">
                <input type="radio" name="controlMode" id="tilt" autocomplete="off" value="tilt">Device Tilt
              </label>
            </div>
          </div>
          <div class="form-group" style="max-width:30%;">
            <label class="group-label">Dataset</label><br/>
            <div class="form-group">
              <select id="select_dataset" class="form-control">
              </select>
            </div>
          </div>
          <div class="form-group" style="max-width:30%;">
            <label class="group-label">Throttle Mode</label><br/>
            <div class="form-group">
              <select id="throttle_mode_select" class="form-control">
                <option value="user" selected>User</option>
                <option value="constant">Constant (Selected Max)</option>
              </select>
            </div>
          </div>
          <div class="form-group" style="max-width:30%;">
            <label class="group-label">Drive Mode</label><br/>
            <div class="form-group">
              <select id="mode_select" class="form-control">
                <option disabled selected> Select Mode </option>
                <option value="user">User</option>
                <option value="ai">AI</option>
              </select>
            </div>
          </div>

        </div>



      </div>
    </div>
    <hr>

    <div class="row">
          <p id="text-image-progress"></p>
          <div class="progress" style="margin-left: 15px;">
                <div id="image-progress" class="progress-bar progress-bar-primary" role="progressbar" style="width: 0%;">
                </div>
          </div>
    </div>

      <div class="row">
      <div class="col-xs-4 col-sm-2 col-md-2">
        <div id="control-bars">
          <label class="group-label">
              Angle
            <span class="glyphicon glyphicon-resize-horizontal"></span>
          </label>





          <div class="row">
              <span class="pull-left">User</span>
              <div class="progress positive pull-right">
                <div id="user-angle-bar-forward" class="progress-bar progress-bar-info" role="progressbar" style="width: 0%;">
                </div>
              </div>
              <div class="progress negative pull-right">
                <div id="user-angle-bar-backward" class="progress-bar progress-bar-info pull-right" role="progressbar" style="width: 0%;">
                </div>
              </div>
          </div>

            <div class="row">
              <span class="pull-left">AI</span>
              <div class="progress positive pull-right">
                <div id="ai-angle-bar-forward" class="progress-bar progress-bar-info" role="progressbar" style="width: 0%;">
                </div>
              </div>
              <div class="progress negative pull-right">
                <div id="ai-angle-bar-backward" class="progress-bar progress-bar-info pull-right" role="progressbar" style="width: 0%;">
                </div>
              </div>
          </div>
            <label class="group-label">
              Throttle
            <span class="glyphicon glyphicon-resize-vertical"></span>
          </label>





          <div class="row">
              <span class="pull-left">User</span>
              <div class="progress positive pull-right">
                <div id="user-throttle-bar-forward" class="progress-bar progress-bar-info" role="progressbar" style="width: 0%;">
                </div>
              </div>
              <div class="progress negative pull-right">
                <div id="user-throttle-bar-backward" class="progress-bar progress-bar-info pull-right" role="progressbar" style="width: 0%;">
                </div>
              </div>
          </div>

            <div class="row">
              <span class="pull-left">AI</span>
              <div class="progress positive pull-right">
                <div id="ai-throttle-bar-forward" class="progress-bar progress-bar-info" role="progressbar" style="width: 0%;">
                </div>
              </div>
              <div class="progress negative pull-right">
                <div id="ai-throttle-bar-backward" class="progress-bar progress-bar-info pull-right" role="progressbar" style="width: 0%;">
                </div>
              </div>
          </div>
        </div>

        <form>
          <div class="form-group">
            <button type="button" id="keep_button" class="btn btn-success btn-block">
              Keep
            </button>
          </div>
          <div class="form-group">
            <button type="button" id="ignore_button" class="btn btn-warning btn-block">
              Skip
            </button>
          </div>
          <div class="form-group">
            <button type="button" id="delete_button" class="btn btn-danger btn-block">
              Delete
            </button>
          </div>
          <div class="form-group">
            <button type="button" id="play_button" class="btn btn-primary btn-block">
              Play
            </button>
          </div>
        </form>
      </div>

      <div class="col-xs-8 col-sm-5 col-md-5"><!-- center column -->
        <div id="image-thumbnail" class="thumbnail">
          <div id="image_placeholder">
            <p>Select a dataset from the dropdown menu.</p>
          </div>
        </div>
      </div><!-- end center column -->

      <div id="joystick-column" class="col-xs-10 col-sm-5 col-md-5">
        <div class="thumbnail">
          <div id="joystick_container">
            <p>Click/touch to use joystic.</p>
          </div>
        </div><!-- end right col -->
      </div><!-- end right col -->
    </div>
    <div id="joystick-padding"></div>

  </div> <!-- END Container -->
  <footer class="footer" id="vehicle_footer">
  </footer>

  <!-- Modal -->
  <div class="modal fade" id="aboutControlModes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">About Control Modes</h4>
        </div>
        <div class="modal-body">
          <p>
            <strong>Joystick</strong> control is provided via the blue touch/click area on screen. Click or touch and drag to control throttle and steering. In joystick mode, you can also use the following keyboard keys:
            <ul>
              <li>Forward: <code>I</code></li>
              <li>Reverse: <code>K</code></li>
              <li>Left: <code>J</code> </li>
              <li>Right: <code>L</code></li>
            </ul>
          </p>
          <p>
            <strong>Gamepad</strong> control is enabled by the <a href="https://developer.mozilla.org/en-US/docs/Web/API/Gamepad_API/Using_the_Gamepad_API">HTML5 gamepad API</a>, currently supported by Chrome and Firefox. Playstation 3 controllers have been confirmed to work.
          </p>
          <p>
            <strong>Device tilt</strong> control is enabled for devices with <a href="https://developer.mozilla.org/en-US/docs/Web/API/Detecting_device_orientation">device orientation sensors</a>, and should work with most modern smartphones. Hold your device in landscape mode, tilt  forward/backward for throttle and left/right for steering.
          </p>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript">
  $( document ).ready(function() {
    console.log( "document ready!" );
    editor.load();
  });
</script>
</body>
</html>
