<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white">
  <div class="container-fluid">

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Brand -->
    <a class="navbar-brand" href="index.html">
      <img src="assets/img/logo.svg" class="navbar-brand-img
      mx-auto" alt="...">
    </a>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="sidebarCollapse">

      <!-- Form -->
      <form class="mt-4 mb-3 d-md-none">
        <div class="input-group input-group-rounded input-group-merge">
          <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="fe fe-search"></span>
            </div>
          </div>
        </div>
      </form>

      <!-- Navigation -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link " href="index.html">
            <i class="fe fe-home"></i> Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="datasets.html">
            <i class="fe fe-database"></i> Datasets
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="machine-learning.html">
            <i class="fe fe-activity"></i> Machine Learning
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="raspberry-pi.html">
            <i class="fe fe-hard-drive"></i> Raspberry Pi
            <span class="raspberry-pi-connection-status text-danger" style="display:none">&nbsp; ●</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#sidebarAuth" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarAuth">
            <i class="fe fe-user"></i> Authentication
          </a>
          <div class="collapse" id="sidebarAuth">
            <ul class="nav nav-sm flex-column">
              <li class="nav-item">
                <a href="#sidebarSignIn" class="nav-link" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarSignIn">
                  Sign in
                </a>
                <div class="collapse" id="sidebarSignIn">
                  <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                      <a href="sign-in-cover.html" class="nav-link">
                        Cover
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="sign-in-illustration.html" class="nav-link">
                        Illustration
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="sign-in.html" class="nav-link">
                        Basic
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a href="#sidebarSignUp" class="nav-link" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarSignUp">
                  Sign up
                </a>
                <div class="collapse" id="sidebarSignUp">
                  <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                      <a href="sign-up-cover.html" class="nav-link">
                        Cover
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="sign-up-illustration.html" class="nav-link">
                        Illustration
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="sign-up.html" class="nav-link">
                        Basic
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a href="#sidebarPassword" class="nav-link" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarPassword">
                  Password reset
                </a>
                <div class="collapse" id="sidebarPassword">
                  <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                      <a href="password-reset-cover.html" class="nav-link">
                        Cover
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="password-reset-illustration.html" class="nav-link">
                        Illustration
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="password-reset.html" class="nav-link">
                        Basic
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a href="#sidebarError" class="nav-link" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarError">
                  Error
                </a>
                <div class="collapse" id="sidebarError">
                  <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                      <a href="error-illustration.html" class="nav-link">
                        Illustration
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="error.html" class="nav-link">
                        Basic
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#sidebarLayouts" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarLayouts">
            <i class="fe fe-layout"></i> Layouts
          </a>
          <div class="collapse " id="sidebarLayouts">
            <ul class="nav nav-sm flex-column">
              <li class="nav-item">
                <a href="index.html" class="nav-link">
                  Sidenav
                </a>
              </li>
              <li class="nav-item">
                <a href="dashboard-side-topnav.html" class="nav-link ">
                  Sidenav + top nav
                </a>
              </li>
              <li class="nav-item">
                <a href="dashboard-topnav.html" class="nav-link">
                  Topnav
                </a>
              </li>
              <li class="nav-item">
                <a href="#sidebarDashboard" class="nav-link" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarDashboard">
                  Without hero chart
                </a>
                <div class="collapse " id="sidebarDashboard">
                  <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                      <a href="dashboard-no-hero.html" class="nav-link ">
                        Sidenav
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="dashboard-side-topnav-no-hero.html" class="nav-link ">
                        Sidenav + top nav
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="dashboard-topnav-no-hero.html" class="nav-link">
                        Topnav
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item d-md-none">
          <a class="nav-link" href="#sidebarModalActivity" data-toggle="modal">
           <span class="fe fe-bell"></span> Notifications
          </a>
        </li>
      </ul>

      <!-- Divider -->
      <hr class="my-3">
    </div> <!-- / .navbar-collapse -->

  </div> <!-- / .container-fluid -->
</nav>