<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white">
  <div class="container-fluid">

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Brand -->
    <a class="navbar-brand" href="index.html">
      <img src="assets/img/logo.svg" class="navbar-brand-img
      mx-auto" alt="...">
    </a>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="sidebarCollapse">

      <!-- Form -->
      <form class="mt-4 mb-3 d-md-none">
        <div class="input-group input-group-rounded input-group-merge">
          <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="fe fe-search"></span>
            </div>
          </div>
        </div>
      </form>

      <!-- Navigation -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link " href="index.html">
            <i class="fe fe-home"></i> Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="datasets.html">
            <i class="fe fe-database"></i> Datasets
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="machine-learning.html">
            <i class="fe fe-activity"></i> Machine Learning
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="raspberry-pi.html">
            <i class="fe fe-hard-drive"></i> Raspberry Pi
            <span class="raspberry-pi-connection-status text-danger" style="display:none">&nbsp; ●</span>
          </a>
        </li>
      </ul>
    </div> <!-- / .navbar-collapse -->

  </div> <!-- / .container-fluid -->
</nav>