<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">

<!-- Libs CSS -->
<!-- build:css assets/fonts/feather/feather.min.css -->
<link rel="stylesheet" href="assets/fonts/feather/feather.css">
<!-- endbuild -->
<!-- build:css assets/libs/highlight/styles/vs2015.min.css -->
<link rel="stylesheet" href="assets/libs/highlight/styles/vs2015.css">
<!-- endbuild -->
<link rel="stylesheet" href="node_modules/quill/dist/quill.core.css">
<link rel="stylesheet" href="node_modules/select2/dist/css/select2.min.css">
<link rel="stylesheet" href="node_modules/flatpickr/dist/flatpickr.min.css">

<!-- Theme CSS -->
<!-- build:css assets/css/theme.min.css -->
<link rel="stylesheet" href="assets/css/theme.css">
<!-- endbuild -->

<title>@@title</title>