
<!-- Libs JS -->
<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="node_modules/chart.js/dist/Chart.min.js"></script>
<!-- build:js assets/libs/chart.js/Chart.extension.min.js -->
<script src="assets/libs/chart.js/Chart.extension.js"></script>
<!-- endbuild -->
<!-- build:js assets/libs/highlight/highlight.pack.min.js -->
<script src="assets/libs/highlight/highlight.pack.js"></script>
<!-- endbuild -->
<script src="node_modules/flatpickr/dist/flatpickr.min.js"></script>
<script src="node_modules/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
<script src="node_modules/list.js/dist/list.min.js"></script>
<script src="node_modules/quill/dist/quill.min.js"></script>
<script src="node_modules/dropzone/dist/min/dropzone.min.js"></script>
<script src="node_modules/select2/dist/js/select2.min.js"></script>

<!-- Theme JS -->
<!-- build:js assets/js/theme.min.js -->
<script src="assets/js/theme.js"></script>
<!-- endbuild -->